body {
  main {
    .back {
      max-width: 1110px;
      margin: 0 auto;
      @media (max-width: 1097.6px) {
        width: 68.9rem;
      }
      @media (max-width: 573.6px) {
        width: 32.7rem;
      }
      .btn {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
      }
    }
    .productOne {
      max-width: 1110px;
      margin: 0 auto;
      justify-content: center;

      .productOnecenter {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        @media (max-width: 1097.6px) {
          max-width: 68.7rem;
        }
        @media (max-width: 573.6px) {
          width: 32.7rem;
          flex-direction: column;
        }
        .imgdiv2 {
          width: 540px;
          height: 560px;
          background-color: rgba(241, 241, 241, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 1097.6px) {
            width: 28.1rem;
            height: 48rem;
          }
          @media (max-width: 573.6px) {
            width: 32.7rem;
            height: 32.7rem;
          }
          .product-img {
            @media (max-width: 1097.6px) {
              width: 18.1rem;
              height: 21.5rem;
            }
          }
        }
        .infoDiv {
          width: 44.5rem;
          height: 37.2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          @media (max-width: 1097.6px) {
            width: 33.9rem;
            height: 39rem;
            margin-top: 5rem;
          }
          @media (max-width: 573.6px) {
            width: 32.7rem;
            height: 32.7rem;
            margin-top: 3rem;
          }
          h2 {
            font-weight: 700;
            font-size: 4rem;
            line-height: 4.4rem;
            color: rgba(0, 0, 0, 1);
          }
          p {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: rgba(0, 0, 0, 0.5);
          }
          h5 {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: rgba(0, 0, 0, 1);
          }
          .plus {
            display: flex;
            justify-content: space-between;
            width: 29.6rem;
            .minus {
              display: flex;
            }
          }
          .btn {
            width: 16rem;
            height: 4.8rem;
            background-color: rgba(216, 125, 74, 1);
            color: white;
            border: none;
          }
        }
      }
    }
    .feature {
      max-width: 1110px;
      display: flex;
      margin: 0 auto;
      @media (max-width: 1097.6px) {
        justify-content: center;
      }

      .featureinfo {
        @media (max-width: 573.6px) {
          width: 32.7rem;
        }
        h2 {
          font-weight: 700;
          font-size: 3.2rem;
          line-height: 3.6rem;
          letter-spacing: 0.1rem;
          color: rgba(0, 0, 0, 1);
        }
        p {
          max-width: 630px;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.5rem;
          color: rgba(0, 0, 0, 0.5);
          margin-top: 3rem;
        }
      }
    }
    .Imagesadditional {
      max-width: 111rem;
      height: 59.2rem;
      margin: 16rem auto;
      justify-content: center;
      align-items: center;
      @media (max-width: 573.6px) {
        margin-bottom: 32rem;
        margin-top: 7rem;
      }

      .Imagesadditional2 {
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        margin: 0 auto;

        @media (max-width: 1097px) {
          margin: 0 auto;
          height: 36.8rem;
          max-width: 680px;
        }
        @media (max-width: 573.6px) {
          flex-direction: column;
          max-width: 320px;
        }
        .images {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .additionalFirst {
            @media (max-width: 1097.6px) {
              max-width: 270px;
              height: 270px;
            }
            @media (max-width: 573.6px) {
              max-width: 320px;
              height: 170px;
            }
          }
          .additionalSecond {
            @media (max-width: 1097.6px) {
              max-width: 270px;
              height: 270px;
            }
            @media (max-width: 573.6px) {
              max-width: 320px;
              height: 170px;
              margin-top: 20px;
            }
          }
        }
        img {
          border-radius: 30px;
        }
        .third {
          display: flex;
          .additionalThird {
            @media (max-width: 1097.6px) {
              max-width: 390px;
              height: 36.8rem;
            }
            @media (max-width: 573.6px) {
              max-width: 320px;
              height: 360px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
